.cbo-onboard-first-step {
    .stripe-icon {
        margin-bottom: 22px;
    }
    .cbo-onboard-content {
        margin-bottom: 20px;
    }
    .cbo-transaction-card {
        margin-bottom: 30px;
    }
    .cbo-button {
        margin-bottom: 16px;
    }
    .cbo-alert {
        margin-top: 30px;
    }
    .cbo-connected-account {
        margin-bottom: 30px;
    }
}