.cbo-external-link {
    font-family: var(--robot);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.26px;
    color: #286EF1;
    display: inline-flex;
    align-items: center;
    img {
        margin-left: 9px;
    }
}