.cbo-onboard-second-step {
    margin-top: 24px;
    
    .cbo-onboard-inner-section {
        position: relative;
        padding-bottom: 80px;
        padding-top: 98px;
    }
    .cbo-back-button {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .cbo-onboard-content {
        margin-bottom: 30px;
    }
    .cbo-warning-box {
        margin-bottom: 20px;
    }
    .cbo-select {
        margin-bottom: 40px;
    }
    .cbo-checkbox {
        margin-bottom: 20px;
    }
}
